---

---

<footer id="footer">
  <ul>
    <li>Footer goes in here.</li>
    <li>Contact info?</li>
    <li>Mailing list?</li>
  </ul>
</footer>

<style>
  #footer {
    box-sizing: border-box;
    background-color: var(--accent-color);
    position: relative;
    padding: var(--inner-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #footer ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
  }
</style>
