---

---

<footer id="footer">
  <ul>
    <li>Contact info?</li>
    <li>Mailing list?</li>
    <li>Terms & conditions</li>
    <li>Privacy policy</li>
  </ul>
</footer>

<style>
  #footer {
    box-sizing: border-box;
    background-color: var(--accent-color);
    color: var(--background-color);
    position: relative;
    padding: var(--inner-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    border-radius: var(--border-radius);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
  }

  #footer ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
  }
</style>
