---
import background from '../assets/background.svg';
---

<footer id="footer">
  <ul>
  <li>Footer goes in here.</li>
  <li>Contact info?</li>
  <li>Mailing list?</li>
</ul>
</footer>

<style>
	#footer {
    backdrop-filter: saturate(0.25);
    margin-top: 50px;
    position: relative;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer ul {
    display: flex;
    list-style-type: none;
    gap:50px;
  }

</style>
