---
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<h1><a href="https://tapestries.media"
				>Tapestries</a
			></h1>
			<h2>
				An Internet Archive Project
			</h2>
		</section>
    <section>
      <h3>A sample tapestry:</h3>
      <iframe src="https://tapestries.asteasolutions.net/t/9131764f-a66d-4eee-b950-c6bda68138b7" width="1024" height="768" title="Tapestry new tapestry" frameborder="0" />
    </section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		align-items: center;
    flex-direction: column;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
    margin-bottom: 64px;
	}

	h1 {
		font-size: 64px;
    line-height: 1;
    margin: 0;
	}

  h1 a {
    text-decoration: none;
    color: black;
  }

  h2 {
    font-style: italic;
  }

</style>
