---
import Notebox from "./Notebox.astro";
---

<header id="hero">
  <div>
    <h1>
      <a href="https://tapestries.media"
        ><img
          src="tapestrylogo.svg"
          alt="Tapestries"
          width="400"
          height="auto"
        /></a
      >
    </h1>
    <h2>An initiative of the Internet Archive</h2>
  </div>
  <div>
    <h3>Tagline goes here?</h3>
    <div id="onmobile">
      <Notebox
        >Note that right now tapestries don't work very well on mobile! Look at
        this site on a computer for the full effect.</Notebox
      >
    </div>
  </div>
</header>

<style>
  #hero {
    width: calc(100% + 2 * var(--outer-margin));
    display: flex;
    align-items: start;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-left: calc(0px - var(--outer-margin));
    margin-right: calc(0px - var(--outer-margin));
    margin-top: calc(0px - var(--outer-margin));
    padding: var(--inner-margin) var(--outer-margin);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: var(--outer-margin);
    /* max-width: 50%; */
    /* box-shadow: 0 0 10px orange; */
    border-bottom: 6px solid orange;
    z-index: 3;
  }

  h1 {
    font-size: 0;
    line-height: 1;
    margin: 0;
    font-weight: normal;
  }

  h1 a {
    text-decoration: none;
    color: var(--text-color);
  }

  h2 {
    padding-top: calc(var(--inner-margin) / 2);
    text-transform: uppercase;
    font-size: calc(var(--font-size) * 0.85);
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
    margin: 0 auto;
  }

  h3 {
    font-weight: 200;
    margin-bottom: 0;
  }

  #onmobile {
    display: none;
    @media screen and (max-width: 1023px) {
      display: block;
    }
  }
</style>
