---
import Notebox from "./Notebox.astro";
---

<header id="hero">
  <h1>
    <a href="https://tapestries.media"
      ><img
        src="tapestrylogo.svg"
        alt="Tapestries"
        width="500"
        height="auto"
      /></a
    >
  </h1>
  <h2>An initiative of the Internet Archive</h2>
  <h3>Tagline goes here?</h3>
  <div id="onmobile">
    <Notebox
      >Note that right now tapestries don't work very well on mobile! Look at
      this site on a computer for the full effect.</Notebox
    >
  </div>
</header>

<style>
  #hero {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: center;
    padding: var(--inner-margin);
    box-sizing: border-box;
    background-color: var(--background-color);
    margin-bottom: var(--outer-margin);
    /* max-width: 50%; */
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px orange;
  }

  h1 {
    font-size: var(--header-size);
    line-height: 1;
    margin: 0;
    font-weight: normal;
  }

  h1 a {
    text-decoration: none;
    color: var(--text-color);
  }

  h2 {
    text-transform: uppercase;
    font-size: calc(var(--header-size) * 0.15);
    font-weight: 800;
    letter-spacing: 3px;
  }

  h3 {
    font-weight: 200;
    margin-bottom: 0;
  }

  #onmobile {
    display: none;
    @media screen and (max-width: 1023px) {
      display: block;
    }
  }
</style>
