---
import Notebox from "./Notebox.astro";
---

<header id="hero">
  <h1><a href="https://tapestries.media">Tapestries</a></h1>
  <h2>An Internet Archive Project</h2>
  <h3>Tagline goes here?</h3>
  <div id="onmobile">
    <Notebox
      >Note that right now tapestries don't work very well on mobile! Look at
      this site on a computer for the full effect.</Notebox
    >
  </div>
</header>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: center;
    padding: var(--inner-margin);
  }

  h1 {
    font-size: var(--header-size);
    line-height: 1;
    margin: 0;
    font-weight: normal;
  }

  h1 a {
    text-decoration: none;
    color: var(--text-color);
  }

  #onmobile {
    display: none;
    @media screen and (max-width: 1023px) {
      display: block;
    }
  }
</style>
