---

---

<section id="whatcanyoudo">
  <h2>What can you do with a Tapestry?</h2>
  <ul>
    <li>Fork someone else's tapestry and make your own version</li>
    <li>Add comments wherever you like</li>
    <li>Share it with collaborators</li>
    <li>Embed it in your own webpage</li>
  </ul>
</section>

<style></style>
